{% trans_default_domain 'FOSUserBundle' %}

  <div class="row">
    <div class="col s12 m12 l5 xl5">

    <h4>Create a <b><i class="fa fa-btc"></i>itcoin</b> wallet - it's free!</h4>
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

    </div>
    <div class="col s12 m12 l6 offset-l1 xl6 offset-xl1">
      <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header"><i class="fa fa-btc"></i>What is Bitcoin?</div>
          <div class="collapsible-body"><span>Bitcoin is a peer-to-peer electronic cash system created by Satoshi Nakamoto in 2008.
          Nobody owns or controls Bitcoin or the underlying blockchain, much like no one controls the technology behind email.
 <br><br><div class="video-container">

              <div class="youtube" data-embed="Gc2en3nHxA4?rel=0&showinfo=0&autoplay=1&iv_load_policy=3&cc_load_policy=1&cc_lang_pref={{app.request.locale}}">
                <div class="play-button"></div>
              </div>

            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  
<br><br><br>

          <div class="row">
            <div class="col s12 m4">
              <div class="center promo promo-example">
                <i class="material-icons bigIcon" style="color: #03A9F4">compare_arrows</i>
                <p><b>Fast transactions</b></p>
                <p class="light center">Bitcoins can be sent worldwide with an average confirmation time of 10 minutes for a block, containing thousands of transactions.</p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="center promo promo-example">
                <i class="material-icons bigIcon" style="color: #4CAF50">vpn_key</i>
                <p><b>Financial Security</b></p>
                <p class="light center">Bitcoin enables trustless financial security using public-key cryptography. The blockchain handles all transactions and secures your privacy. </p>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="center promo promo-example">
                <i class="material-icons bigIcon" style="color: #FFC107">group</i>
                <p><b>Peer-to-peer (P2P)</b></p>
                <p class="light center">All transactions on the Bitcoin network are decentralized. There is no central authority to close, freeze or chargeback your Bitcoin wallet, it's strictly peer-to-peer.</p>
              </div>
            </div>
          </div>
          
<br><br><br>

    <!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Terms & Conditions</h4>
    <p>Coming soon.</p>
  </div>

  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat agreeterms">Agree</a>
    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat disagreeterms">Disagree</a>
  </div>
</div>

<br><br>